{% extends "base_page.html" %}

{% block page-title %}
Add new example
{% endblock %}

{% block content %}
<div class="ui container">
    <form method="post" action="{% url 'send_example' %}" class="ui form">
        {% csrf_token %}

        <!-- Поле для имени -->
        <div class="field">
            <label>Name:</label>
            <input id="name" name="name" type="text" required placeholder="Enter your name">
        </div>

        <!-- Поле для слова -->
        <div class="field">
            <label>Word:</label>
            <input id="word" name="word" type="text" required placeholder="Enter a word">
        </div>

        <!-- Поле для примера использования слова -->
        <div class="field">
            <label>Example</label>
            <input id="example_sentence" name="example_sentence" required rows="4" placeholder="Enter an example"></input>
        </div>

        <!-- Поле для перевода примера -->
        <div class="field">
            <label>Translation of the example</label>
            <input id="translation" name="translation" required rows="4" placeholder="Enter the translation of the example"></input>
        </div>

        <!-- Кнопка отправки -->
        <div class="center aligned">
            <button type="submit" class="ui primary button">
                Send
                <i class="send icon"></i>
            </button>
        </div>
    </form>

    <!-- Кнопка возврата на главную -->
    <div class="ui container" style="display: flex; justify-content: center; align-items: center; ">
        <a href="{% url 'index' %}" class="ui secondary button">Home Page</a>
    </div>
</div>
{% endblock %}